doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Yummy
  link(rel='stylesheet' href='/styles/index.css')
  link(rel='icon' type='image/x-icon' href='/img/favicon.ico')
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css")
  link(href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD' crossorigin='anonymous')
  link(href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap' rel='stylesheet')
nav.navbar.navbar-expand-lg.fixed-top.d-flex
  .container
    a.navbar-brand.d-flex.align-items-center.me-auto.me-lg-0(href='index.html')
      h1 Yummy
      span .
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.nav-menu.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link.active(aria-current='page' href='#hero') Home
        li.nav-item
          a.nav-link(href='#about') About
        li.nav-item
          a.nav-link(href='#menu') Menu
        li.nav-item
          a.nav-link(href='#chefs') Chefs
        li.nav-item
          a.nav-link(href='#contact') Contact
      .book
        button.btn--book(href='#book-a-table') Book a Table
section#hero.hero.d-flex.align-items-center.section-bg
  .container
    .row.justify-content-between.gy-5
      .col-lg-5.order-2.order-lg-1.d-flex.flex-column.justify-content-center.align-items-center.align-items-lg-start.text-center.text-lg-start
        h2(data-aos='fade-up')
          | Enjoy Your Healthy
          br
          | Delicious Food
        p(data-aos='fade-up' data-aos-delay='100')
          | Sed autem laudantium dolores. Voluptatem itaque ea consequatur eveniet. Eum quas beatae
          | cumque eum quaerat.
        .d-flex(data-aos='fade-up' data-aos-delay='200')
          a.btn-book-a-table(href='#book-a-table') Book a Table
          a.glightbox.btn-watch-video.d-flex.align-items-center(href='https://www.youtube.com/watch?v=LXb3EKWsInQ')
            i.bx.bx-play-circle
            span Watch Video
      .col-lg-5.order-1.order-lg-2.text-center.text-lg-start
        img.img-fluid(src='/img/hero-img.png' alt='' data-aos='zoom-out' data-aos-delay='300')

main#main

  section#about.about
    .container(data-aos='fade-up')
      .section__header
        h2 About Us
        p
          | Learn More 
          span About Us
      .row.gy-4
        .col-lg-7.position-relative.about-img(style='background-image: url(/img/about.jpg)' data-aos='fade-up' data-aos-delay='150')
          .call-us.position-absolute
            h4 Book a Table
            p +1 5589 55488 55
        .col-lg-5.d-flex.align-items-end(data-aos='fade-up' data-aos-delay='300')
          .content.ps-0.ps-lg-5
            p.fst-italic
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              | incididunt ut labore et dolore magna aliqua.
            ul
              li
                i.bx.bx-check-double
                | Ullamco laboris nisi ut aliquip ex ea commodo
                |                                         consequat.
              li
                i.bx.bx-check-double
                | Duis aute irure dolor in reprehenderit in
                |                                         voluptate velit.
              li
                i.bx.bx-check-double
                |  Ullamco laboris nisi ut aliquip ex ea commodo
                |                                         consequat. Duis aute irure dolor in reprehenderit in voluptate trideta
                |                                         storacalaperda mastiro dolore eu fugiat nulla pariatur.
            p
              | Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              | reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              | Excepteur sint occaecat cupidatat non proident
            .position-relative.mt-4
              img.img-fluid(src='/img/about-2.jpg' alt='')

  section#why-us.why-us.section-bg
    .container(data-aos='fade-up')
      .row.gy-4
        .col-lg-4(data-aos='fade-up' data-aos-delay='100')
          .why-box
            h3 Why Choose Yummy?
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              | incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
              | Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel
              | necessitatibus optio ad corporis.
            .text-center
              a.more-btn(href='#') Learn More

        .col-lg-8.d-flex.align-items-center
          .row.gy-4
            .col-xl-4(data-aos='fade-up' data-aos-delay='200')
              .icon-box.d-flex.flex-column.justify-content-center.align-items-center
                i.bx.bx-clipboard
                h4 Corporis voluptates officia eiusmod
                p
                  | Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut
                  | aliquip

            .col-xl-4(data-aos='fade-up' data-aos-delay='300')
              .icon-box.d-flex.flex-column.justify-content-center.align-items-center
                i.bx.bx-diamond
                h4 Ullamco laboris ladore pan
                p
                  | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                  | deserunt

            .col-xl-4(data-aos='fade-up' data-aos-delay='400')
              .icon-box.d-flex.flex-column.justify-content-center.align-items-center
                i.bx.bxs-inbox
                h4 Labore consequatur incidid dolore
                p
                  | Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis
                  | facere

  section#stats-counter.stats-counter
    .container(data-aos='zoom-out')
      .row.gy-4
        .col-lg-3.col-md-6
          .stats-item.text-center.w-100.h-100
            span.purecounter 232
            p Clients

        .col-lg-3.col-md-6
          .stats-item.text-center.w-100.h-100
            span.purecounter 521
            p Projects

        .col-lg-3.col-md-6
          .stats-item.text-center.w-100.h-100
            span.purecounter 1453
            p Hours Of Support

        .col-lg-3.col-md-6
          .stats-item.text-center.w-100.h-100
            span.purecounter 32
            p Workers


  section#menu.menu
    .container(data-aos='fade-up')
      .section__header
        h2 Our Menu
        p
          | Check Our 
          span Yummy Menu
      ul.nav.nav-tabs.d-flex.justify-content-center(data-aos='fade-up' data-aos-delay='200')
        li.nav-item
          a.nav-link.active.show(data-bs-toggle='tab' data-bs-target='#menu-starters')
            h4 Starters

        li.nav-item
          a.nav-link(data-bs-toggle='tab' data-bs-target='#menu-breakfast')
            h4 Breakfast

        li.nav-item
          a.nav-link(data-bs-toggle='tab' data-bs-target='#menu-lunch')
            h4 Lunch
   
        li.nav-item
          a.nav-link(data-bs-toggle='tab' data-bs-target='#menu-dinner')
            h4 Dinner

      .tab-content(data-aos='fade-up' data-aos-delay='300')
        #menu-starters.tab-pane.fade.active.show
          .tab-header.text-center
            p Menu
            h3 Starters
          .row.gy-5
            .col-lg-4.menu-item
              a.glightbox(href='/img/menu/menu-item-1.png')
                img.menu-img.img-fluid(src='/img/menu/menu-item-1.png' alt='')
              h4 Magnam Tiste
              p.ingredients Lorem, deren, trataro, filede, nerada
              p.price $5.95
            .col-lg-4.menu-item
              a.glightbox(href='/img/menu/menu-item-2.png')
                img.menu-img.img-fluid(src='/img/menu/menu-item-1.png' alt='')
              h4 Aut Luia
              p.ingredients Lorem, deren, trataro, filede, nerada
              p.price $14.95
            .col-lg-4.menu-item
              a.glightbox(href='/img/menu/menu-item-3.png')
                img.menu-img.img-fluid(src='/img/menu/menu-item-3.png' alt='')
              h4 Est Eligendi
              p.ingredients Lorem, deren, trataro, filede, nerada
              p.price $8.95
            .col-lg-4.menu-item
              a.glightbox(href='/img/menu/menu-item-4.png')
                img.menu-img.img-fluid(src='/img/menu/menu-item-4.png' alt='')
              h4 Eos Luibusdam
              p.ingredients Lorem, deren, trataro, filede, nerada
              p.price $12.95
            .col-lg-4.menu-item
              a.glightbox(href='/img/menu/menu-item-5.png')
                img.menu-img.img-fluid(src='/img/menu/menu-item-5.png' alt='')
              h4 Eos Luibusdam
              p.ingredients Lorem, deren, trataro, filede, nerada
              p.price $12.95
            .col-lg-4.menu-item
              a.glightbox(href='/img/menu/menu-item-6.png')
                img.menu-img.img-fluid(src='/img/menu/menu-item-6.png' alt='')
              h4 Laboriosam Direva
              p.ingredients Lorem, deren, trataro, filede, nerada
              p.price $9.95
        #menu-breakfast.tab-pane.fade
          .tab-header.text-center
            p Menu
            h3 Breakfast
          .row.gy-5
            .col-lg-4.menu-item
              a.glightbox(href='/img/menu/menu-item-1.png')
                img.menu-img.img-fluid(src='/img/menu/menu-item-1.png' alt='')
              h4 Magnam Tiste
              p.ingredients Lorem, deren, trataro, filede, nerada
              p.price $5.95
            .col-lg-4.menu-item
              a.glightbox(href='/img/menu/menu-item-2.png')
                img.menu-img.img-fluid(src='/img/menu/menu-item-2.png' alt='')
              h4 Aut Luia
              p.ingredients Lorem, deren, trataro, filede, nerada
              p.price $14.95
            .col-lg-4.menu-item
              a.glightbox(href='/img/menu/menu-item-3.png')
                img.menu-img.img-fluid(src='/img/menu/menu-item-3.png' alt='')
              h4 Est Eligendi
              p.ingredients Lorem, deren, trataro, filede, nerada
              p.price $8.95
            .col-lg-4.menu-item
              a.glightbox(href='/img/menu/menu-item-4.png')
                img.menu-img.img-fluid(src='/img/menu/menu-item-4.png' alt='')
              h4 Eos Luibusdam
              p.ingredients Lorem, deren, trataro, filede, nerada
              p.price $12.95
            .col-lg-4.menu-item
              a.glightbox(href='/img/menu/menu-item-5.png')
                img.menu-img.img-fluid(src='/img/menu/menu-item-5.png' alt='')
              h4 Eos Luibusdam
              p.ingredients Lorem, deren, trataro, filede, nerada
              p.price $12.95
            .col-lg-4.menu-item
              a.glightbox(href='/img/menu/menu-item-6.png')
                img.menu-img.img-fluid(src='/img/menu/menu-item-6.png' alt='')
              h4 Laboriosam Direva
              p.ingredients Lorem, deren, trataro, filede, nerada
              p.price $9.95
        #menu-lunch.tab-pane.fade
          .tab-header.text-center
            p Menu
            h3 Lunch
          .row.gy-5
            .col-lg-4.menu-item
              a.glightbox(href='/img/menu/menu-item-1.png')
                img.menu-img.img-fluid(src='/img/menu/menu-item-1.png' alt='')
              h4 Magnam Tiste
              p.ingredients Lorem, deren, trataro, filede, nerada
              p.price $5.95
            .col-lg-4.menu-item
              a.glightbox(href='/img/menu/menu-item-2.png')
                img.menu-img.img-fluid(src='/img/menu/menu-item-2.png' alt='')
              h4 Aut Luia
              p.ingredients Lorem, deren, trataro, filede, nerada
              p.price $14.95
            .col-lg-4.menu-item
              a.glightbox(href='/img/menu/menu-item-3.png')
                img.menu-img.img-fluid(src='/img/menu/menu-item-3.png' alt='')
              h4 Est Eligendi
              p.ingredients Lorem, deren, trataro, filede, nerada
              p.price $8.95
            .col-lg-4.menu-item
              a.glightbox(href='/img/menu/menu-item-4.png')
                img.menu-img.img-fluid(src='/img/menu/menu-item-4.png' alt='')
              h4 Eos Luibusdam
              p.ingredients Lorem, deren, trataro, filede, nerada
              p.price $12.95
            .col-lg-4.menu-item
              a.glightbox(href='/img/menu/menu-item-5.png')
                img.menu-img.img-fluid(src='/img/menu/menu-item-5.png' alt='')
              h4 Eos Luibusdam
              p.ingredients Lorem, deren, trataro, filede, nerada
              p.price $12.95
            .col-lg-4.menu-item
              a.glightbox(href='/img/menu/menu-item-6.png')
                img.menu-img.img-fluid(src='/img/menu/menu-item-6.png' alt='')
              h4 Laboriosam Direva
              p.ingredients Lorem, deren, trataro, filede, nerada
              p.price $9.95
        #menu-dinner.tab-pane.fade
          .tab-header.text-center
            p Menu
            h3 Dinner
          .row.gy-5
            .col-lg-4.menu-item
              a.glightbox(href='/img/menu/menu-item-1.png')
                img.menu-img.img-fluid(src='/img/menu/menu-item-1.png' alt='')
              h4 Magnam Tiste
              p.ingredients Lorem, deren, trataro, filede, nerada
              p.price $5.95
            .col-lg-4.menu-item
              a.glightbox(href='/img/menu/menu-item-2.png')
                img.menu-img.img-fluid(src='/img/menu/menu-item-2.png' alt='')
              h4 Aut Luia
              p.ingredients Lorem, deren, trataro, filede, nerada
              p.price $14.95
            .col-lg-4.menu-item
              a.glightbox(href='/img/menu/menu-item-3.png')
                img.menu-img.img-fluid(src='/img/menu/menu-item-3.png' alt='')
              h4 Est Eligendi
              p.ingredients Lorem, deren, trataro, filede, nerada
              p.price $8.95
            .col-lg-4.menu-item
              a.glightbox(href='/img/menu/menu-item-4.png')
                img.menu-img.img-fluid(src='/img/menu/menu-item-4.png' alt='')
              h4 Eos Luibusdam
              p.ingredients Lorem, deren, trataro, filede, nerada
              p.price $12.95
            .col-lg-4.menu-item
              a.glightbox(href='/img/menu/menu-item-5.png')
                img.menu-img.img-fluid(src='/img/menu/menu-item-5.png' alt='')
              h4 Eos Luibusdam
              p.ingredients Lorem, deren, trataro, filede, nerada
              p.price $12.95
            .col-lg-4.menu-item
              a.glightbox(href='/img/menu/menu-item-6.png')
                img.menu-img.img-fluid(src='/img/menu/menu-item-6.png' alt='')
              h4 Laboriosam Direva
              p.ingredients Lorem, deren, trataro, filede, nerada
              p.price $9.95

  section#chefs.chefs.section-bg
    .container(data-aos='fade-up')
      .section__header
        h2 Chefs
        p
          | Our 
          span Proffesional
          |  Chefs
      .row.gy-4
        .col-lg-4.col-md-6.d-flex.align-items-stretch(data-aos='fade-up' data-aos-delay='100')
          .chef--member
            .member--img
              img.img-fluid(src='/img/chefs/chefs-1.jpg' alt='')
            .member--info
              h4 Walter White
              span Master Chef
              p
                | Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae
                | aut. Ipsum exercitationem iure minima enim corporis et voluptate.
        .col-lg-4.col-md-6.d-flex.align-items-stretch(data-aos='fade-up' data-aos-delay='200')
          .chef--member
            .member--img
              img.img-fluid(src='/img/chefs/chefs-2.jpg' alt='')
            .member--info
              h4 Sarah Jhonson
              span Patissier
              p
                | Quo esse repellendus quia id. Est eum et accusantium pariatur fugit nihil minima
                | suscipit corporis. Voluptate sed quas reiciendis animi neque sapiente.
        .col-lg-4.col-md-6.d-flex.align-items-stretch(data-aos='fade-up' data-aos-delay='300')
          .chef--member
            .member--img
              img.img-fluid(src='/img/chefs/chefs-3.jpg' alt='')
            .member--info
              h4 William Anderson
              span Cook
              p
                | Vero omnis enim consequatur. Voluptas consectetur unde qui molestiae deserunt.
                | Voluptates enim aut architecto porro aspernatur molestiae modi.

  section#book-a-table.book-a-table
    .container(data-aos='fade-up')
      .section__header
        h2 Book A Table
        p
          | Book 
          span Your Stay
          |  With Us
      .row.g-0
        .col-lg-4.reservation__img(style='background-image: url(img/reservation.jpg)' data-aos='zoom-out' data-aos-delay='200')
        .col-lg-8.d-flex.align-items-center.reservation-form-bg
          form.php-email-form(action='forms/book-a-table.php' method='post' role='form' data-aos='fade-up' data-aos-delay='100')
            .row.gy-4
              .col-lg-4.col-md-6
                input#name.form-control(type='text' name='name' placeholder='Your Name' data-rule='minlen:4' data-msg='Please enter at least 4 chars')
                .validate
              .col-lg-4.col-md-6
                input#email.form-control(type='email' name='email' placeholder='Your Email' data-rule='email' data-msg='Please enter a valid email')
                .validate
              .col-lg-4.col-md-6
                input#phone.form-control(type='text' name='phone' placeholder='Your Phone' data-rule='minlen:4' data-msg='Please enter at least 4 chars')
                .validate
              .col-lg-4.col-md-6
                input#date.form-control(type='text' name='date' placeholder='Date' data-rule='minlen:4' data-msg='Please enter at least 4 chars')
                .validate
              .col-lg-4.col-md-6
                input#time.form-control(type='text' name='time' placeholder='Time' data-rule='minlen:4' data-msg='Please enter at least 4 chars')
                .validate
              .col-lg-4.col-md-6
                input#people.form-control(type='number' name='people' placeholder='# of people' data-rule='minlen:1' data-msg='Please enter at least 1 chars')
                .validate
            .form-group.mt-3
              textarea.form-control(name='message' rows='5' placeholder='Message')
              .validate
            .text-center.mt-3
              button(type='submit') Book a Table

  section#contact.contact
    .container(data-aos='fade-up')
      .section__header
        h2 Contact
        p
          | Need Help? 
          span Contact Us
      .mb-3
        iframe(style='border: 0; width: 100%; height: 350px' src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621' frameborder='0' allowfullscreen='')
      .row.gy-4
        .col-md-6
          .info--item.d-flex.align-items-center
            i.icon.bx.bx-map-alt.flex-shrink-0
            div
              h3 Our Address
              p A108 Adam Street, New York, NY 535022
        .col-md-6
          .info--item.d-flex.align-items-center
            i.icon.bx.bxl-gmail.flex-shrink-0
            div
              h3 Email Us
              p contact@example.com
        .col-md-6
          .info--item.d-flex.align-items-center
            i.icon.bx.bx-phone-call.flex-shrink-0
            div
              h3 Call Us
              p +1 5589 55488 55
        .col-md-6
          .info--item.d-flex.align-items-center
            i.icon.bx.bx-share-alt.flex-shrink-0
            div
              h3 Opening Hours
              div
                strong Mon-Sat:
                |  11AM - 23PM; 
                strong Sunday:
                |  Closed
      form.php-email-form.p-3.p-md-4(method='post' role='form')
        .row
          .col-xl-6.form--group
            input#name.form-control(type='text' name='name' placeholder='Your Name' required='')
          .col-xl-6.form--group
            input#email.form-control(type='email' name='email' placeholder='Your Email' required='')
        .form--group
          input#subject.form-control(type='text' name='subject' placeholder='Subject' required='')
        .form--group
          textarea.form-control(name='message' rows='5' placeholder='Message' required='')
        .my-3
        .text-center
          button(type='submit') Send Message
footer#footer.footer
  .container
    .row.gy-3
      .col-lg-3.col-md-6.d-flex
        i.bx.bx-location-plus.icon
        div
          h4 Address
          p
            | A108 Adam Street 
            br
            |                                 New York, NY 535022 - US
            br
      .col-lg-3.col-md-6.footer-links.d-flex
        i.bx.bx-phone-call.icon
        div
          h4 Reservations
          p
            strong Phone:
            |  +1 5589 55488 55
            br
            strong Email:
            |  info@example.com
            br
      .col-lg-3.col-md-6.footer-links.d-flex
        i.bx.bx-time-five.icon
        div
          h4 Opening Hours
          p
            strong Mon-Sat: 11AM
            |  - 23PM
            br
            |                                 Sunday: Closed
      .col-lg-3.col-md-6.footer-links
        h4 Follow Us
        .social-links.d-flex
          a.twitter(href='#')
            i.bx.bxl-twitter
          a.facebook(href='#')
            i.bx.bxl-facebook-circle
          a.instagram(href='#')
            i.bx.bxl-instagram-alt
          a.linkedin(href='#')
            i.bx.bxl-linkedin
  .container
    .copyright
      | &copy; Copyright 
      strong
        span Yummy
      | . All Rights Reserved
    .credits
      | Designed by 
      a(href='https://bootstrapmade.com/') Bootstrap
a.scroll-top.d-flex.align-items-center.justify-content-center(href='#')
  i.bi.bi-arrow-up-short
#preloader
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js' integrity='sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN' crossorigin='anonymous')
