footer#footer.footer
  .container
    .row.gy-3
      .col-lg-3.col-md-6.d-flex
        i.bx.bx-location-plus.icon
        div
          h4 Address
          p
            | A108 Adam Street 
            br
            |                                 New York, NY 535022 - US
            br
      .col-lg-3.col-md-6.footer--links.d-flex
        i.bx.bx-phone-call.icon
        div
          h4 Reservations
          p
            strong Phone:
            |  +1 5589 55488 55
            br
            strong Email:
            |  info@example.com
            br
      .col-lg-3.col-md-6.footer--links.d-flex
        i.bx.bx-time-five.icon
        div
          h4 Opening Hours
          p
            strong Mon-Sat: 11AM
            |  - 23PM
            br
            |                                 Sunday: Closed
      .col-lg-3.col-md-6.footer--links
        h4 Follow Us
        .social-links.d-flex
          a.twitter(href='#')
            i.bx.bxl-twitter
          a.facebook(href='#')
            i.bx.bxl-facebook-circle
          a.instagram(href='#')
            i.bx.bxl-instagram-alt
          a.linkedin(href='#')
            i.bx.bxl-linkedin
  .container
    .copyright
      | &copy; Copyright 
      strong
        span Yummy
      | . All Rights Reserved
    .credits
      | Designed by 
      a(href='https://bootstrapmade.com/') Bootstrap
a.scroll-top.d-flex.align-items-center.justify-content-center(href='#')
  i.bi.bi-arrow-up-short
#preloader