section#hero.hero.d-flex.align-items-center.section-bg
  .container
    .row.justify-content-between.gy-5
      .col-lg-5.order-2.order-lg-1.d-flex.flex-column.justify-content-center.align-items-center.align-items-lg-start.text-center.text-lg-start
        h2(data-aos='fade-up')
          | Enjoy Your Healthy
          br
          | Delicious Food
        p(data-aos='fade-up' data-aos-delay='100')
          | Sed autem laudantium dolores. Voluptatem itaque ea consequatur eveniet. Eum quas beatae
          | cumque eum quaerat.
        .d-flex(data-aos='fade-up' data-aos-delay='200')
          a.btn-book-a-table(href='#book-a-table') Book a Table
          a.glightbox.btn-watch-video.d-flex.align-items-center(href='https://www.youtube.com/watch?v=LXb3EKWsInQ')
            i.bx.bx-play-circle
            span Watch Video
      .col-lg-5.order-1.order-lg-2.text-center.text-lg-start
        img.img-fluid(src='/assets/img/hero-img.png' alt='' data-aos='zoom-out' data-aos-delay='300')