extends layout.pug

block header 
  include includes/nav.pug
block content 
  include includes/hero.pug
  include includes/about.pug
  include includes/why-us.pug
  include includes/stats.pug
  include includes/menu.pug
  include includes/chefs.pug
  include includes/booking.pug
  include includes/contact.pug
block footer 
  include includes/footer.pug

