@use 'variables';
@use 'common';

nav {
    height: 90px;
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    border-bottom: 1px solid #fff;
    .container {
        .navbar-brand {
            h1 {
                font-size: 28px;
                font-weight: 700;
            }
            span {
                font-size: 28px;
                font-weight: 700;
                color: variables.$color-primary;
            }
        }
        .nav-menu {
            margin-left: 20px;
            .navbar-nav {
                margin: auto;
                .nav-item {
                    padding: 10px 0 10px 28px;
                    position: relative;
                    white-space: nowrap;
                    .nav-link {
                        padding: 0 3px;
                        font-family: variables.$font-secondary;
                        font-size: 16px;
                        font-weight: 600;
                        color: #7f7f90;
                        white-space: nowrap;
                    }
                }
            }
            .book {
                a {
                    @extend %button;
                    padding: 9px 20px;
                    margin-left: 30px;
                }
                .btn--book:hover {
                    color: #fff;
                    background: rgba(206, 18, 18, 0.8);
                }
            }
        }
    }
}
